@import "general";
@import "reset";
@import "flex";

 input {
    display: block;
    width: 100%;   
    margin-bottom: 1rem; 
    padding: 1rem 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #f1ecec;
}

h1 {
    margin: 0.5rem 0 2rem 0;
    text-align: center;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(70, 69, 69);
}

.book-adder-ui {
    margin: 4rem auto;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.form-btn {
    display: block;
    width: 50%;
    margin: 0.8rem auto;
    border: none;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: tomato;
    color: white;
    font-size: 1.2rem;
}

.books {
    button {
        display: block;
        border: none;
        padding: 0.5rem;
        background-color: tomato;
        color: white;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
        margin: 0.5rem auto;
    }
    li {
        text-align: center;
        margin-right: 1rem;
        margin-bottom: 1rem;
        h2 {
            font-size: 2.5rem;
            margin: 0.5rem auto;
        }
        p {
            font-size: 1.2rem;
        }
    }
}